@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Quicksand:wght@300;400;500&display=swap');

/* css general header -> logo + nav , footer*/

html{
	font-size: 62.5%;
    background-color: black;
}
h1{
    font-family: Pattaya, sans-serif;
    font-size: 4rem;
}
h2{
    font-family: Pattaya, sans-serif;
    font-size: 3rem;
}
h3{
    font-family: Pattaya, sans-serif;
    font-size: 2.4rem;
}
p{
    font-family: Quicksand, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;   
}
span{
    font-family: Quicksand, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;   
}
a {
    font-family: Quicksand, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;   
}

