footer{
    background-color: $principal;
    .desarrollo{
        background-color: #77600f;
    }
}
.nomEmpresa{
    font-family: Pattaya, sans-serif;
}
.copy{
    font-size: 0.9em;
    margin: 0 2px;
}
.redes a i{
    font-size: 1.5rem;
    color: $negro;
    padding: 0 5px;
    transition: all 0.5s;
}
$colorRedes:(
    face: blue,
    insta: rgb(224, 89, 236)
);
@each $red,$color in $colorRedes{
	.#{$red}:hover{
		color:$color;
        transform: scale(1.5) rotate(5deg);
	}
}
