.pagComidaBebida{
    background-attachment: fixed;
    padding-top: 8rem;
    img {
        max-width: 500px
    }

    div {
        article {
            div {
                max-width: 500px
            }
        }
    }
}
.mainComida {
    @include fondo(url(../img/fondos/fondoComida.jpg));
    @extend .pagComidaBebida;
    background-size: contain; 
}

.mainBebida {
    @include fondo(url(../img/fondos/fondoBebida.jpg));
    @extend .pagComidaBebida;
}
    