.mainComida{
    @include fondo(url(../img/fondoComida.jpg));
    background-size: contain;
    background-attachment: fixed;
    padding-top: 8rem;
    
}
.mainBebida {
    @include fondo(url(../img/fondoBebida.jpg));
    background-attachment: fixed;
    padding-top: 8rem;
    
}