.mainNosotros{
    @include fondo((linear-gradient(180deg, rgba(0, 0, 0, 0.51) 16.54%, #FDC619 83.85%), url(../img/fondoNosotros.jpg)));
    padding-top: 8rem;
    h2{
        color: $principal !important;
    }
}
.justificar{
    text-align: justify;
}