.mainComida{
    background-image: url(../img/fondoComida.jpg);
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    padding-top: 8rem;
}
.mainBebida {
    background-image: url(../img/fondoBebida.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-top: 8rem;
}